image: Visual Studio 2022
version: 2.0.{build}
configuration: Release

init:
- if "%APPVEYOR_REPO_NAME%" == "JeremyAnsel/JeremyAnsel.HLSL.Targets" if "%APPVEYOR_REPO_BRANCH%"=="master" if not defined APPVEYOR_PULL_REQUEST_NUMBER set DEPLOY=True

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'

nuget:
  disable_publish_on_pr: true

before_build:
- nuget restore JeremyAnsel.HLSL.Targets\JeremyAnsel.HLSL.Targets.sln

build:
  project: JeremyAnsel.HLSL.Targets\JeremyAnsel.HLSL.Targets.sln
  publish_nuget: true
  verbosity: minimal

deploy:
- provider: NuGet
  api_key:
    secure: ze1qzJBxyHeSWT67uKVzSLLKipISG4+pL1Yd/l0J2nEfu9VSvx6/Ilf1NbLkHwdF
  skip_symbols: true
  on:
    branch: master
    DEPLOY: True
